* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-1: #f4f5f7;
    --color-2: #eceaf5;
    --color-subtittles: #f2b5d4;
    --color-o-1: #b6b9f4;
    --color-o-2: #9b9ff6;
    --color-o-3: #bfc3f6;
    --color-box-dialog: #fed8f1;
    --color-botton: #9c9ff6;
    --color-botton-border: #615bad;
}
#hamburger {
    display: none;
}

.subtitle {
    color: var(--color-subtittles);
}

ul {
    list-style-type: none;
}

h1,
h2,
h3 {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

#username,
#bar a {
    font-family: "Roboto Mono", monospace;
}

section {
    min-height: 100vh;
}

/*audio*/
#audio {
    border: 1px solid var(--color-box-dialog);
    background-color: var(--color-subtittles);
    border-radius: 1px 10px 10px 1px;
    width: 2.5rem;
    height: 2rem;
    position: fixed;
    padding: 1.5rem;
    top: calc(92% - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.audio-icon {
    color: white;
    font-size: 2rem;
}

/*Social Media */
#social-media {
    position: fixed;
    top: calc(50% - 4rem);
    left: 25px;
    font-size: 1.8rem;
    margin-left: 0;
    z-index: 2;
}

#social-media a {
    color: #333;
}

/* Header */
#bar {
    margin-top: 2.3rem;
    margin-right: 3.8rem;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
}

#bar a {
    color: black;
    font-weight: 600;
    margin-left: 1.3rem;
    padding: 0.4rem 0.4rem 0.5rem 0.5rem;
    max-width: fit-content;
}

#bar .background-box:hover {
    background-color: var(--color-box-dialog);
    border: 3px dashed #f2b5d4;
    border-radius: 9px;
}

/*Home*/

#home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home img {
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: -1;
}

#home-info {
    text-align: center;
}

#home-info h1 {
    font-size: 3rem;
    font-weight: bold;
}

#slide-down {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    left: 50%;
    cursor: pointer;
    animation: jump-up-and-down 0.8s ease-in-out infinite;
}

#username {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 0.7rem;
}

#home #user {
    color: #727af6;
}

#username .tag-user {
    color: #b6b9f4;
}

@keyframes jump-up-and-down {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

#username {
    position: absolute;
    max-width: fit-content;
    display: inline;
    top: 0;
    left: 0;
}

/*About */
#about {
    background-color: var(--color-1);
}
#about-content {
    display: grid;
    padding: 3rem;
    grid-template-columns: repeat(12, 1fr);
}

#about-info {
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 8;
    margin-bottom: 18rem;
}
#about-info .title-line {
    display: flex;
    flex-direction: column;
    margin-bottom: 7.5rem;
}

.title-line h2 {
    font-size: 1.8rem;
    color: var(--color-subtittles);
}

.title-line hr {
    margin-right: 19rem;
}

#contact-container {
    position: absolute;
    left: 25%;
    margin: 3rem 0;
    transform: translateX(-25%);
}

.music-player {
    display: none;
}

#contact-circle {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: var(--color-o-2);
    border-radius: 100%;
    border: 20px solid var(--color-o-1);
    text-align: center;
}

#circle-content {
    position: absolute;
    top: calc(50% - 0.5rem);
    left: calc(50% - 2rem);
    color: white;
    font-size: 18px;
}

#bubble-dialog {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    background-color: var(--color-box-dialog);
    max-width: fit-content;
    height: 5rem;
    padding: 1rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    border: 1px solid black;
    margin-bottom: 0.5rem;
}

.name-about {
    font-family: "Roboto Mono", monospace;
    font-size: 2.5rem;
}

#profile-image {
    position: relative;
    align-self: center;
    grid-column-start: 9;
    grid-column-end: 12;
}

#profile-image img {
    position: relative;
    z-index: 2;
}

#border-profile-image {
    position: absolute;
    border: 0.2rem solid black;
    width: 400px;
    height: 425px;
    transform: translate(1.5rem, 1.5rem);
    z-index: 1;
}

/*Skills*/
#skills {
    background-color: var(--color-2);
}

#skills-title {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    padding-top: 2rem;
    width: 80%;
    margin: auto;
}

#skills hr {
    width: 60%;
}

#skills-title h2 {
    font-size: 1.8rem;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: auto;
}

.skill-card {
    display: flex;
    gap: 1.5rem;
    padding: 3rem;
    align-items: center;
    border: 2px solid black;
    transition: all 0.8s ease-in-out;
    max-width: 40%;
}

.skill-card:hover {
    background-color: black;
    color: white;
}

.icons-skills {
    font-size: 5rem;
}

/*Works*/

#work {
    background-color: var(--color-1);
}

#work-title {
    padding-top: 2rem;
    margin-bottom: 4.5em;
    margin-left: 10rem;
}

#work-title h2 {
    font-size: 1.8rem;
}

#work-title h3 {
    font-size: 1rem;
    padding-bottom: 0.3rem;
}

#work-title hr {
    margin-right: 60rem;
}

.work-card {
    box-shadow: 0 5px 13px 12px rgba(204, 209, 230, 1);
    -webkit-box-shadow: 0 5px 13px 12px rgba(204, 209, 230, 1);
    -moz-box-shadow: 0 5px 13px 12px rgba(204, 209, 230, 1);
}

.work-card-wrapper {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: auto;
}

/*Contact*/
#contact {
    display: flex;
    flex-direction: column;
    background-color: var(--color-2);
}

#contact div:nth-child(2) {
    display: flex;
    align-self: center;
    justify-content: space-around;
    min-width: 100%;
}

#title-contact {
    min-width: 100%;
    margin-top: 1.5rem;
    padding: 1.5rem;
}

#title-contact hr {
    width: 50%;
}

#info-contact-table td th {
    font-family: "Roboto Mono", monospace;
}

#form-contact label {
    font-family: "Roboto Mono", monospace;
}

#form-contact {
    display: flex;
    flex-direction: column;
    width: 30%;
}

#form-contact input textarea:focus {
    outline: none;
}

#form-contact input,
textarea {
    margin-bottom: 1.2rem;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    box-shadow: none;
    border-bottom-style: groove;
    background-color: var(--color-2);
    font-size: 23px;
}

#form-contact button {
    width: 25%;
}

#contact hr {
    margin-bottom: 5rem;
}

th,
td {
    font-family: "Roboto Mono", monospace;
    padding: 8px;
}

button {
    background-color: var(--color-botton);
    border: 1.6px solid var(--color-botton-border);
    border-radius: 0.6rem;
    height: 2.5rem;
    font-weight: bold;
    font-size: 1rem;
}

/*Footer*/

#footer-info {
    display: flex;
    max-width: 90%;
    justify-content: space-between;
}

footer {
    background: rgb(165, 168, 246);
    background: linear-gradient(
        183deg,
        rgba(165, 168, 246, 1) 0%,
        rgba(184, 186, 246, 1) 35%,
        rgba(250, 250, 250, 1) 100%
    );
    position: relative;
    width: 100vw;
}

footer hr {
    color: #8e88c6;
    margin-left: 3rem;
    margin-right: 3rem;
}

#copyright {
    padding: 1.1rem;
    margin-left: 2.1rem;
}

#footer-map iframe {
    margin-top: -30%;
    margin-bottom: 4.5rem;
    box-shadow: -35px 39px 2px -12px #6a6599;
    border-radius: 1.65rem;
}

#footer-contact {
    margin-top: 9rem;
    margin-left: 10rem;
}
