* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-1: #f4f5f7;
    --color-2: #eceaf5;
    --color-subtittles: #f2b5d4;
    --color-o-1: #b6b9f4;
    --color-o-2: #9b9ff6;
    --color-o-3: #bfc3f6;
    --color-box-dialog: #fed8f1;
    --color-botton: #9c9ff6;
    --color-botton-border: #615bad;
}

.subtitle {
    color: var(--color-subtittles);
}

h3 {
    margin-bottom: 5rem;
}

ul {
    list-style-type: none;
}

h1,
h2 {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

#username,
#bar a {
    font-family: "Roboto Mono", monospace;
}

section {
    height: 100vh;
}


/* Header */

#bar {
    margin: 2rem;
    margin-right: 3rem;
}

#bar {
    position: fixed;
    top: 0;
    right: 0;
    list-style-type: none;
    display: flex;
}

#bar a {
    color: black;
    font-weight: 600;
    padding-left: 1.5rem;
}

/*Social Media */

#social-media {
    position: fixed;
    top: calc(50% - 4rem);
    left: 25px;
    font-size: 1.8rem;
    margin-left: 0;
}

#social-media a {
    color: #333;
}

/*Home*/

#home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home img {
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: -1;
}

#home-info {
    text-align: center;
}

#home-info h1 {
    font-size: 3rem;
    font-weight: bold;
}

#slide-down {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    left: 50%;
    cursor: pointer;
    animation: jump-up-and-down 0.8s ease-in-out infinite;
}

@keyframes jump-up-and-down {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(-10px);
    }
    75% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

#username {
    position: absolute;
    max-width: fit-content;
    display: inline;
    top: 0;
    left: 0;
}

/*About */
#about {
    background-color: var(--color-1);
    display: grid;
    padding: 3rem;
    grid-template-columns: repeat(12, 1fr);
}

#about-info {
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 8;
}

#contact-botton {
    width: 150px;
    height: 150px;
    clip-path: circle(50% at 50% 50%);
    background-color: var(--color-o-1);
}

#contact-botton-info {
    width: 130px;
    height: 130px;
    clip-path: circle(50% at 50% 50%);
    background-color: var(--color-o-2);
}

#info-contact {
    color: black;
}

#bubble-dialog {
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    background-color: var(--color-box-dialog);
    max-width: fit-content;
    height: 5rem;
    padding: 1rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    border: 1px solid black;

}

#profile-image {
    align-self: center;
    grid-column-start: 9;
    grid-column-end: 12;

}

/* 
#border-image {
    border: 0.2rem solid black;
    max-width: fit-content;
} */

/*Skills*/
#skills {
    background-color: var(--color-2);
}

.card-wrapper {
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3.2rem;
    justify-content: center;
    align-items: center;
}

.icons-skills {
    font-size: 5rem;
}

.skill-card {
    display: flex;
    gap: 1rem;
    border: 0.3rem solid black;
    max-width: 30rem;
    height: 18rem;
    padding: 1rem;
}

/*Works*/
#work {
    background-color: var(--color-1);
}

.work-card {
    box-shadow: 0 5px 13px 12px rgba(204, 209, 230, 1);
    -webkit-box-shadow: 0 5px 13px 12px rgba(204, 209, 230, 1);
    -moz-box-shadow: 0 5px 13px 12px rgba(204, 209, 230, 1);

}

.work-card-wrapper {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin: auto;
}

/*Contact*/
#contact {
    background-color: var(--color-2);
}

#contact {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#contact-info {
    grid-column-start: 2;
    grid-column-end: 7;
    align-self: center;
    margin-bottom: 13rem;
}


#form-contact {
    grid-column-start: 8;
    grid-column-end: 12;
    align-self:center;
    margin-bottom: 13rem;
}

button {
    background-color: var(--color-botton);
    border: 1.6px solid var(--color-botton-border);
    border-radius: 0.6rem;
    width: 9rem;
    height: 2.5rem;
    font-weight: bold;
    font-size: 1rem;
}

/*Footer*/
footer {
    background-color: var(--color-2);
}
