.checkout{
  background-color: #e59560;
}
.item-number{
  color: #e59560;
}

.cart{
  background-color: #f6f4e8
}

.cart-card{
  background-color: #bacec1;
}

.btn-shop{
  background-color: #f0efed;
}

.order-total{
  background-color: #f0efed;
}
