.gradient-custom {
  /* fallback for old browsers */
  background: #f6f4e8;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(246, 244, 232, 1), rgba(246, 244, 232, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, rgba(246, 244, 232, 1), rgba(229, 149, 96, 1))
}
